/* Basic styling */
* {margin: 0; padding: 0; border: 0; vertical-align: baseline;}
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}
html, body {height: 100%; margin: 0;}

body {
  font-family: "Segoe UI", sans-serif;
  background: #353535;
  color: #FFF;
  margin: 0px;
  font-family: -apple-system, 
  BlinkMacSystemFont, 
  "Segoe UI", 
  Roboto, 
  Oxygen-Sans, 
  Ubuntu, 
  Cantarell, 
  "Helvetica Neue", 
  sans-serif;
}

h1 {
  margin: 0 0 10px 0;
  font-weight: 600;
  line-height: 1.2;
}

p {
  margin-top: 10px;
  color: rgba(255,255,255,0.4);
}

/* Styling of window frame and titlebar */


#titlebar {
  display: block;
  position: fixed;
  height: 32px;
  width: calc(100% - 2px);
  z-index: 3;

  
}

.maximized #titlebar {
  width: 100%;
  padding: 0;
  z-index: 3;

}

#main {
  height: calc(100% - 32px);
  margin-top: 32px;
  padding: 20px;
  overflow-y: auto;
  z-index: 3;

}

#titlebar {
  padding: 4px;
  z-index: 3;

}

#titlebar #drag-region {
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
  z-index: 3;

}

#titlebar {
  color: #FFF;
  z-index: 3;

}

#titlebar #drag-region {
  display: grid;
  grid-template-columns: auto 138px;
  z-index: 3;

}

#window-title {
  grid-column: 1;
  display: flex;
  align-items: center;
  margin-left: 8px;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
  font-size: 12px;
  z-index: 3;

}

.maximized #window-title {
  margin-left: 12px;
  z-index: 3;

}

#window-title span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5;
  z-index: 3;

}

#window-controls {
  display: grid;
  grid-template-columns: repeat(3, 46px);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 3;

}

#window-controls {
  -webkit-app-region: no-drag;
  z-index: 3;

}

#window-controls .winbutton {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 3;

}

@media (-webkit-device-pixel-ratio: 1.5), (device-pixel-ratio: 1.5),
(-webkit-device-pixel-ratio: 2), (device-pixel-ratio: 2),
(-webkit-device-pixel-ratio: 3), (device-pixel-ratio: 3) {
  #window-controls .icon {
    width: 10px;
    height: 10px;
  }
}

#window-controls .winbutton {
  user-select: none;
  z-index: 3;

}

#window-controls .winbutton:hover {
  background: rgba(255,255,255,0.1);
  z-index: 3;

}

#window-controls .winbutton:active {
  background: rgba(255,255,255,0.2);
  z-index: 3;

}

#close-button:hover {
  background: #E81123 !important;
  z-index: 3;

}

#close-button:active {
  background: #F1707A !important;
  z-index: 3;

}
#close-button:active .icon {
  filter: invert(1);
  z-index: 3;

}


#min-button {
  grid-column: 1;
  z-index: 3;

}
#max-button, #restore-button {
  grid-column: 2;
  z-index: 3;

}
#close-button {
  grid-column: 3;
  z-index: 3;

}

#restore-button {
  display: none !important;
  z-index: 3;

}

.maximized #restore-button {
  display: flex !important;
  z-index: 3;

}

.maximized #max-button {
  display: none;
  z-index: 3;

}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1e202b; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #009ad8; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #035f83; 
}

.wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(45deg, rgba(131,58,180,1) 0%,rgba(255,79,56,1) 33%, rgba(255,158,0,1) 59%, rgba(255,144,75,1) 69%, rgba(92,5,167,1) 100%);
  background-size: 400% 100%;
  animation: gradient 10s linear infinite;
  animation-direction: alternate;
}
@keyframes gradient {
  0% {background-position: 0%}
  100% {background-position: 100%}
}